dbuild/
gbuild/
wbuild/
3build/
source/*.o
source/psp/*.o
cinoop.elf
cinoopstripped.elf
cinoop.nds
cinoop.dol
cinoop.3ds
cinoop.cia
cinoop.3dsx
cinoop.smdh
cinoop.exe
PARAM.SFO
EBOOT.PBP
data/
*.gb
*.bat
debug.txt